@tailwind base;
@tailwind components;
@tailwind utilities;

form, #loading {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

#status {
    transition: opacity 500ms;
}

input,textarea,button {
    margin-top : 1rem;
    margin-bottom: 1rem;
}

.appear {
    animation: appear 500ms;
}

.error {
    color: rgb(239,68,68);
    width : 80%;
    font-size : 0.8rem;
    text-align : left;
    margin-top : .4rem;
    margin-bottom : .4rem;
}

.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    position: relative;
    animation: rotate 1s linear infinite
}
.loader::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    border-radius: 50%;
    inset: 0px;
    border: 5px solid rgb(16,185,129);
    border-bottom-color: transparent;
    animation: rotation 1s linear infinite;
}

@keyframes appear {
    from {
        opacity : 0;
    }

    to {
        opacity : 1;
    }
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
