@tailwind base;
@tailwind components;
@tailwind utilities;

form {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

input,textarea,button {
    margin-top : 1rem;
    margin-bottom: 1rem;
}

.error {
    color: rgb(239,68,68);
    width : 80%;
    text-align : left;
    margin-top : .5rem;
    margin-bottom : .5rem;
}
